@import "src/styles/config/breakpoints";

:host {
  display: grid;
  row-gap: 10px;
  padding: 30px 0;
  background-color: var(--nx-light-blue);
}

.title {
  display: grid;
  justify-content: center;

  &__text {
    font-family: 'Anton';
    font-size: 60px;
    width: 510px;
    text-align: center;
    line-height: 60px;
  }
}

@media #{$mobile} {
  :host {
    padding: 0;
  }
  .title {
    &__text {
      font-size: 20px;
      width: auto;
    }
  }

}
